.App {
  text-align: center;
  font-size: 4vh;
  line-height: 7vh;
}

a { display: block }

button { width: 25vh; font-size: inherit; height: inherit; line-height: inherit; box-sizing: border-box; outline: none; border: 3px solid gray }
button:active { border: 3px solid orange }

input { width: 50vw; font-size: inherit; height: inherit; line-height: inherit; box-sizing: border-box; outline: none; }

textarea { width: 50vw; min-height: 30vh; vertical-align: top; font-size: inherit; height: inherit; line-height: inherit; box-sizing: border-box; outline: none; }

label { display: inline-block; width: 20vw; box-sizing: border-box; outline: none }
